# Created by .ignore support plugin (hsz.mobi)
### Python template
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
.pybuilder/
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
#   For a library or package, you might want to ignore these files since the code is
#   intended to run in multiple environments; otherwise, check them in:
# .python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# PEP 582; used by e.g. github.com/David-OConnor/pyflow
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# pytype static type analyzer
.pytype/

# Cython debug symbols
cython_debug/

### Terraform template
# Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# Crash log files
crash.log

# Exclude all .tfvars files, which are likely to contain sentitive data, such as
# password, private keys, and other secrets. These should not be part of version
# control as they are data points which are potentially sensitive and subject
# to change depending on the environment.
#
*.tfvars

# Ignore override files as they are usually used to override resources locally and so
# are not checked in
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Include override files you do wish to add to version control using negated pattern
#
# !example_override.tf

# Include tfplan files to ignore the plan output of command: terraform plan -out=tfplan
# example: *tfplan*

# Ignore CLI configuration files
.terraformrc
terraform.rc

.idea/.gitignore
.idea/aws.xml
.idea/codeStyles/
.idea/inspectionProfiles/
.idea/misc.xml
.idea/modules.xml
.idea/news_sentiment.iml
.idea/vcs.xml
getnews/.aws-sam
getnews/bin
getNews/boto3-1.23.0.dist-info/
getNews/boto3/
getNews/botocore-1.26.0.dist-info/
getNews/botocore/
getNews/certifi-2021.10.8.dist-info/
getNews/certifi/
getNews/charset_normalizer-2.0.12.dist-info/
getNews/charset_normalizer/
getNews/dateutil/
getNews/idna-3.3.dist-info/
getNews/idna/
getNews/jmespath-1.0.0.dist-info/
getNews/jmespath/
getNews/python_dateutil-2.8.2.dist-info/
getNews/requests-2.27.1.dist-info/
getNews/requests/
getNews/requirements.txt
getNews/s3transfer-0.5.2.dist-info/
getNews/s3transfer/
getNews/six-1.16.0.dist-info/
getNews/six.py
getNews/urllib3-1.26.9.dist-info/
getNews/urllib3/
.aws-sam/
.DS_Store
.vscode/
backend/README.md
backend/fetchNews/
backend/getNews/__init__.py
backend/getNews/bin/jp.py
backend/getNews/bin/normalizer
backend/getNews/boto3-1.23.0.dist-info/
backend/getNews/boto3/__init__.py
backend/getNews/boto3/compat.py
backend/getNews/boto3/data/
backend/getNews/boto3/docs/__init__.py
backend/getNews/boto3/docs/action.py
backend/getNews/boto3/docs/attr.py
backend/getNews/boto3/docs/base.py
backend/getNews/boto3/docs/client.py
backend/getNews/boto3/docs/collection.py
backend/getNews/boto3/docs/docstring.py
backend/getNews/boto3/docs/method.py
backend/getNews/boto3/docs/resource.py
backend/getNews/boto3/docs/service.py
backend/getNews/boto3/docs/subresource.py
backend/getNews/boto3/docs/utils.py
backend/getNews/boto3/docs/waiter.py
backend/getNews/boto3/dynamodb/__init__.py
backend/getNews/boto3/dynamodb/conditions.py
backend/getNews/boto3/dynamodb/table.py
backend/getNews/boto3/dynamodb/transform.py
backend/getNews/boto3/dynamodb/types.py
backend/getNews/boto3/ec2/__init__.py
backend/getNews/boto3/ec2/createtags.py
backend/getNews/boto3/ec2/deletetags.py
backend/getNews/boto3/examples/
backend/getNews/boto3/exceptions.py
backend/getNews/boto3/resources/__init__.py
backend/getNews/boto3/resources/action.py
backend/getNews/boto3/resources/base.py
backend/getNews/boto3/resources/collection.py
backend/getNews/boto3/resources/factory.py
backend/getNews/boto3/resources/model.py
backend/getNews/boto3/resources/params.py
backend/getNews/boto3/resources/response.py
backend/getNews/boto3/s3/__init__.py
backend/getNews/boto3/s3/inject.py
backend/getNews/boto3/s3/transfer.py
backend/getNews/boto3/session.py
backend/getNews/boto3/utils.py
backend/getNews/botocore-1.26.0.dist-info/
backend/getNews/botocore/__init__.py
backend/getNews/botocore/args.py
backend/getNews/botocore/auth.py
backend/getNews/botocore/awsrequest.py
backend/getNews/botocore/cacert.pem
backend/getNews/botocore/client.py
backend/getNews/botocore/compat.py
backend/getNews/botocore/config.py
backend/getNews/botocore/configloader.py
backend/getNews/botocore/configprovider.py
backend/getNews/botocore/credentials.py
backend/getNews/botocore/crt/__init__.py
backend/getNews/botocore/crt/auth.py
backend/getNews/botocore/data/
backend/getNews/botocore/discovery.py
backend/getNews/botocore/docs/__init__.py
backend/getNews/botocore/docs/bcdoc/__init__.py
backend/getNews/botocore/docs/bcdoc/docstringparser.py
backend/getNews/botocore/docs/bcdoc/restdoc.py
backend/getNews/botocore/docs/bcdoc/style.py
backend/getNews/botocore/docs/client.py
backend/getNews/botocore/docs/docstring.py
backend/getNews/botocore/docs/example.py
backend/getNews/botocore/docs/method.py
backend/getNews/botocore/docs/paginator.py
backend/getNews/botocore/docs/params.py
backend/getNews/botocore/docs/service.py
backend/getNews/botocore/docs/shape.py
backend/getNews/botocore/docs/sharedexample.py
backend/getNews/botocore/docs/utils.py
backend/getNews/botocore/docs/waiter.py
backend/getNews/botocore/endpoint.py
backend/getNews/botocore/errorfactory.py
backend/getNews/botocore/eventstream.py
backend/getNews/botocore/exceptions.py
backend/getNews/botocore/handlers.py
backend/getNews/botocore/history.py
backend/getNews/botocore/hooks.py
backend/getNews/botocore/httpchecksum.py
backend/getNews/botocore/httpsession.py
backend/getNews/botocore/loaders.py
backend/getNews/botocore/model.py
backend/getNews/botocore/monitoring.py
backend/getNews/botocore/paginate.py
backend/getNews/botocore/parsers.py
backend/getNews/botocore/regions.py
backend/getNews/botocore/response.py
backend/getNews/botocore/retries/__init__.py
backend/getNews/botocore/retries/adaptive.py
backend/getNews/botocore/retries/base.py
backend/getNews/botocore/retries/bucket.py
backend/getNews/botocore/retries/quota.py
backend/getNews/botocore/retries/special.py
backend/getNews/botocore/retries/standard.py
backend/getNews/botocore/retries/throttling.py
backend/getNews/botocore/retryhandler.py
backend/getNews/botocore/serialize.py
backend/getNews/botocore/session.py
backend/getNews/botocore/signers.py
backend/getNews/botocore/stub.py
backend/getNews/botocore/translate.py
backend/getNews/botocore/utils.py
backend/getNews/botocore/validate.py
backend/getNews/botocore/vendored/__init__.py
backend/getNews/botocore/vendored/requests/__init__.py
backend/getNews/botocore/vendored/requests/exceptions.py
backend/getNews/botocore/vendored/requests/packages/__init__.py
backend/getNews/botocore/vendored/requests/packages/urllib3/__init__.py
backend/getNews/botocore/vendored/requests/packages/urllib3/exceptions.py
backend/getNews/botocore/vendored/six.py
backend/getNews/botocore/waiter.py
backend/getNews/certifi-2021.10.8.dist-info/
backend/getNews/certifi/__init__.py
backend/getNews/certifi/__main__.py
backend/getNews/certifi/cacert.pem
backend/getNews/certifi/core.py
backend/getNews/charset_normalizer-2.0.12.dist-info/
backend/getNews/charset_normalizer/__init__.py
backend/getNews/charset_normalizer/api.py
backend/getNews/charset_normalizer/assets/__init__.py
backend/getNews/charset_normalizer/cd.py
backend/getNews/charset_normalizer/cli/__init__.py
backend/getNews/charset_normalizer/cli/normalizer.py
backend/getNews/charset_normalizer/constant.py
backend/getNews/charset_normalizer/legacy.py
backend/getNews/charset_normalizer/md.py
backend/getNews/charset_normalizer/models.py
backend/getNews/charset_normalizer/py.typed
backend/getNews/charset_normalizer/utils.py
backend/getNews/charset_normalizer/version.py
backend/getNews/dateutil/__init__.py
backend/getNews/dateutil/_common.py
backend/getNews/dateutil/_version.py
backend/getNews/dateutil/easter.py
backend/getNews/dateutil/parser/__init__.py
backend/getNews/dateutil/parser/_parser.py
backend/getNews/dateutil/parser/isoparser.py
backend/getNews/dateutil/relativedelta.py
backend/getNews/dateutil/rrule.py
backend/getNews/dateutil/tz/__init__.py
backend/getNews/dateutil/tz/_common.py
backend/getNews/dateutil/tz/_factories.py
backend/getNews/dateutil/tz/tz.py
backend/getNews/dateutil/tz/win.py
backend/getNews/dateutil/tzwin.py
backend/getNews/dateutil/utils.py
backend/getNews/dateutil/zoneinfo/__init__.py
backend/getNe
ws/dateutil/zoneinfo/dateutil-zoneinfo.tar.gz
backend/getNews/dateutil/zoneinfo/rebuild.py
backend/getNews/getNews.py
backend/getNews/idna-3.3.dist-info/
backend/getNews/idna/__init__.py
backend/getNews/idna/codec.py
backend/getNews/idna/compat.py
backend/getNews/idna/core.py
backend/getNews/idna/idnadata.py
backend/getNews/idna/intranges.py
backend/getNews/idna/package_data.py
backend/getNews/idna/py.typed
backend/getNews/idna/uts46data.py
backend/getNews/insertNews/
backend/getNews/jmespath-1.0.0.dist-info/
backend/getNews/jmespath/__init__.py
backend/getNews/jmespath/ast.py
backend/getNews/jmespath/compat.py
backend/getNews/jmespath/exceptions.py
backend/getNews/jmespath/functions.py
backend/getNews/jmespath/lexer.py
backend/getNews/jmespath/parser.py
backend/getNews/jmespath/visitor.py
backend/getNews/lambda-python3.8/
backend/getNews/python_dateutil-2.8.2.dist-info/
backend/getNews/requests-2.27.1.dist-info/
backend/getNews/requests/__init__.py
backend/getNews/requests/__version__.py
backend/getNews/requests/_internal_utils.py
backend/getNews/requests/adapters.py
backend/getNews/requests/api.py
backend/getNews/requests/auth.py
backend/getNews/requests/certs.py
backend/getNews/requests/compat.py
backend/getNews/requests/cookies.py
backend/getNews/requests/exceptions.py
backend/getNews/requests/help.py
backend/getNews/requests/hooks.py
backend/getNews/requests/models.py
backend/getNews/requests/packages.py
backend/getNews/requests/sessions.py
backend/getNews/requests/status_codes.py
backend/getNews/requests/structures.py
backend/getNews/requests/utils.py
backend/getNews/requirements.txt
backend/getNews/s3transfer-0.5.2.dist-info/
backend/getNews/s3transfer/__init__.py
backend/getNews/s3transfer/bandwidth.py
backend/getNews/s3transfer/compat.py
backend/getNews/s3transfer/constants.py
backend/getNews/s3transfer/copies.py
backend/getNews/s3transfer/crt.py
backend/getNews/s3transfer/delete.py
backend/getNews/s3transfer/download.py
backend/getNews/s3transfer/exceptions.py
backend/getNews/s3transfer/futures.py
backend/getNews/s3transfer/manager.py
backend/getNews/s3transfer/processpool.py
backend/getNews/s3transfer/subscribers.py
backend/getNews/s3transfer/tasks.py
backend/getNews/s3transfer/upload.py
backend/getNews/s3transfer/utils.py
backend/getNews/six-1.16.0.dist-info/
backend/getNews/six.py
backend/getNews/urllib3-1.26.9.dist-info/
backend/getNews/urllib3/__init__.py
backend/getNews/urllib3/_collections.py
backend/getNews/urllib3/_version.py
backend/getNews/urllib3/connection.py
backend/getNews/urllib3/connectionpool.py
backend/getNews/urllib3/contrib/__init__.py
backend/getNews/urllib3/contrib/_appengine_environ.py
backend/getNews/urllib3/contrib/_securetransport/__init__.py
backend/getNews/urllib3/contrib/_securetransport/bindings.py
backend/getNews/urllib3/contrib/_securetransport/low_level.py
backend/getNews/urllib3/contrib/appengine.py
backend/getNews/urllib3/contrib/ntlmpool.py
backend/getNews/urllib3/contrib/pyopenssl.py
backend/getNews/urllib3/contrib/securetransport.py
backend/getNews/urllib3/contrib/socks.py
backend/getNews/urllib3/exceptions.py
backend/getNews/urllib3/fields.py
backend/getNews/urllib3/filepost.py
backend/getNews/urllib3/packages/__init__.py
backend/getNews/urllib3/packages/backports/__init__.py
backend/getNews/urllib3/packages/backports/makefile.py
backend/getNews/urllib3/packages/six.py
backend/getNews/urllib3/poolmanager.py
backend/getNews/urllib3/request.py
backend/getNews/urllib3/response.py
backend/getNews/urllib3/util/__init__.py
backend/getNews/urllib3/util/connection.py
backend/getNews/urllib3/util/proxy.py
backend/getNews/urllib3/util/queue.py
backend/getNews/urllib3/util/request.py
backend/getNews/urllib3/util/response.py
backend/getNews/urllib3/util/retry.py
backend/getNews/urllib3/util/ssl_.py
backend/getNews/urllib3/util/ssl_match_hostname.py
backend/getNews/urllib3/util/ssltransport.py
backend/getNews/urllib3/util/timeout.py
backend/getNews/urllib3/util/url.py
backend/getNews/urllib3/util/wait.py

